*{
    padding:0;
    margin: 0;
}

body{
    height: 600px;
    font-size: large;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-image: url("../Images/12.png");
    background-color: white;
}

.WebName{
    margin-top: 75px;
    font-size: 60px;
    color: Black;
    font-family: Arial, Helvetica, sans-serif;
}

/* input tag */
input{
    height: 20%;
    border: 0;
    border-bottom: 1px solid #b4becb;
    color: black;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
    caret-color: black;
    /* border-width: 1px; */
    /* border-radius: 20px; */
    font-size: 17px;
    outline: none;
}

input:hover, input:focus{
    box-shadow: 0px 2px lightgray;
    font-size: 19px;
}

/* paragraph */
.paragraph{
    /* background-color: red; */
    max-width: 600px;
}

.text-para{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}

/*  Container styling*/
.container {
    margin: 20px;
    margin-top: 0px;
    padding: 40px;
    color: #000;
    width: 80%;
    /* border: 1px solid ; */
    border-radius: 15px;
    /* background-color: #e0fbfc;   */
    /* background-co; */
    /* background-color: #FFF; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* All buttons container */
.all-btns-ctn{
    /* padding: 20px; */
    width: 100%;
    height: 40%;
    display: flex;
    /* margin: 0 10px; */
    /* background-color: aqua; */
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.LogIn-btn{
    color: white;
    width: 250px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    background-color: #4796ff;
    /* margin-bottom: 10px; */

    /* width: relative; */
}

.LogIn-btn:hover{
    color: black;
    box-shadow: 2px 2px lightgray;
}

.all-btns-ctn .Other-LogIn{
    color: white;
    max-width: 150px;
    height: 30px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #4796ff;
}

/* card styling */
.card {
    height: 300px;
    width: 250px;
    border: #000 solid 1px;
    background-color: white;
    border-radius: 10px;
    padding: 30px;  
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    box-shadow: 10px 10px 5px lightgray;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .container {
      flex-direction: column; /* Stack divs vertically */
    }

    .paragraph{
        margin-bottom: 40px;
    }

    .card{
        width: 60%;
    }

  }
