*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: row;
}

.webNameBlock {
    background-color: #8244ad;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    border-radius: 0px 25px 25px 0px;
}

.WebName{
    color: wheat;
    font-size: 108px;
}

.container{
    border: black;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 40%;
    border: 1px solid;
    border-radius: 15px;
    gap: 6%;
    padding: 30px 0px;
}

input{
    width: 70%;
    height: 15%;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 3px;
}

input:focus{
    outline: none;
    margin-bottom: 1px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    box-shadow: 0 4px 0px rgba(0, 0, 0, 0.2);
}


.SignUp{
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
    background-color: #8244ad;
}
