*{
    padding: 0;
    margin: 0;
}

body{
    max-width: 1280px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #748d92; */
    background-image: url("../Images/12.png");
}

h1{
    margin-bottom: 30px;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

.btns{
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

input{
    margin: 10px 0;
    padding: 10px 0;
    border: 0;
    border-bottom: 1px solid;
    /* border-radius: 10px; */
    width: 225px;
    outline: none;
}

input::placeholder{
    /* padding-left: 5px; */
    /* font-style: italic; */
    font-size: 14.5px;
}

/* card styling */
.card{
    height: 300px;
    width: 250px;
    padding: 30px;
    border: 0.5px solid black;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 5px lightgray;
    background-color: white;
    /* background-color: ; */
}

.SignUp{
    color: white;
    background-color: lightgreen;
    border: 0;
    width: 225px;
    height: 30px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.Google{
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 3px;
    margin-right: 20px;
}

.Google:hover, .GitHub:hover, .SignUp:hover{
    color: black;
    background-color: ;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.GitHub{
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 3px;
    /* margin-left: 12.5px; */
}

.loginPageLink{
    font-size: medium;
    text-decoration: none;
}

.loginPageLink:hover,
.loginPageLink:focus {
  color: blue; /* Change the color on hover/focus, if needed */
  text-decoration: underline;
}

input:hover{
    box-shadow: 0px 2px lightgray;
}